<section class="user-show">
  <img class="background-profile-picture" src="<%= user.escape('background_picture_url') %>"/>
  <div class="profile-basics group">
    <img class="profile-picture" src="<%= user.escape('picture_url') %>"/>
    <p class="user-name"><%= user.escape('user_name') %></p>
    <% if (!user.get('is_current_user')) { %>
      <button class="friend-button"></button>
    <% } %>
    <% if (user.get('is_current_user')) { %>
      <% if (user.escape('friend_count') == 1 ) { %>
        <p class="friend-count"><a href="#/users/<%= user.id %>/friends">You have 1 Friend</a></p>
      <% } else { %>
          <p class="friend-count"><a href="#/users/<%= user.id %>/friends"><%= user.escape('user_name') %> has <%= user.escape('friend_count') %> Friends</a></p>
          <% } %>
      <% if (user.escape('whisky_count') == 1 ) { %>
        <p class="whisky-count"><a href="#/users/<%= user.id %>/whiskys">You have 1 Whisky</a></p>
      <% } else { %>
        <p class="whisky-count"><a href="#/users/<%= user.id %>/whiskys"><%= user.escape('user_name') %> has <%= user.escape('whisky_count') %> Whiskys</a></p>
    <% } %>
    <% } else { %>
      <% if (user.escape('friend_count') == 1 ) { %>
        <p class="friend-count"><a href="#/users/<%= user.id %>/friends"><%= user.escape('user_name') %> has 1 Friend</a></p>
      <% } else { %>
          <p class="friend-count"><a href="#/users/<%= user.id %>/friends"><%= user.escape('user_name') %> has <%= user.escape('friend_count') %> Friends</a></p>
          <% } %>
      <% if (user.escape('whisky_count') == 1 ) { %>
        <p class="whisky-count"><a href="#/users/<%= user.id %>/whiskys"><%= user.escape('user_name') %> has 1 Whisky</a></p>
      <% } else { %>
        <p class="whisky-count"><a href="#/users/<%= user.id %>/whiskys"><%= user.escape('user_name') %> has <%= user.escape('whisky_count') %> Whiskys</a></p>
    <% } %>
  <% } %>

  </div>
  <% if (user.escape('is_current_user')) { %>
    <button class="get-form">Have a drink?</button>
    <div class="post-form"></div>
  <% } else { %>
    <button class="get-suggestion-form">Have a recommendation?</button>
    <div class="suggestion-form"></div>
  <% } %>
  <h3 class="headline"><%= message %> Recent Activity</h3>
  <ul class="posts"></ul>
</section>
