<section class="post-description group">
  <img class="thumb-picture" src="<%= post.escape('user_picture_url') %>"/>
  <ul class="post-items group">
    <li class="post-user"><a href="#/users/<%= post.escape('user_id') %>"><%= post.escape('user_name') %></a></li>
    <li>is drinking</li>
    <li><a href="#/whisky/<%= post.escape('whisky_id') %>" ><%= post.escape('whisky') %> </a> by <%= post.escape('whisky_brand') %></li>
    <% if (place) { %>
      <li> @<a href="#/places/<%= post.escape('place_id') %>"> <%= post.escape('place_name') %>, </a></li>
      <li><%= post.escape('place_formatted_address') %></li>

    <% } %>
  </ul>
  <div class="rating">
  </div>
    <p class="post-body"><%= post.escape('body') %>
    </p>
    <% if (post.escape('post_picture_url')) { %>
      <img class="post-picture" src="<%= post.escape('post_picture_url') %>"/>
    <% } %>
    <div class="comment-transition">
      <div class="common-buttons group">
        <button class="post-options" id="comment-form">Comment</button>
        <button class="toast-button"></button>
      </div>
      <div class="comment-form"></div>
    </div>

    <p class="time-stamp"><%= post.escape('time_ago') %> ago</p>
    <div class="user-buttons group">
      <% if (user && user.escape('is_current_user')) { %>
        <button class="delete-post" data-id="<%= post.id %>">Delete</button>
        <button class="edit-post">Edit</button>
        <form class="edit-form"></form>
      <% } %>
    </div>
    <ul class="comments"></ul>
</section>
