<header class="header">
  <nav class="header-nav group">
    <h1 class="header-logo"><a href="">DISTILLD</a></h1>
    <ul class="header-list group">
      <li><a href="#/users/<%= current_user.id %>"><%= current_user.user_name %></li></a>
      <li><a href="/#friends">Friends</a></li>
      <li><a href="#/users/<%= current_user.id %>/settings">Settings</a></li>
      <li>
        <form action="<%= session_url %>" method="post">
          <%= auth_form %>
            <input type="hidden" name="_method" value="delete">
          <button class="sign-out">Sign Out</button>
        </form>
      </li>
  </nav>
</header>
