<!DOCTYPE html>
<html>
<head>
  <title>DISTILLD</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:700italic,600,400' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,700italic,900italic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: 'all' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <%= render "layouts/errors" %>

  <% if logged_in? %>
    <%= render "layouts/header" %>
  <% end %>
<%= yield %>

</body>
</html>
